@import "../common/var.scss";


@mixin b($block) {
    $B: $namespace+'-'+$block;
    .#{$B} {
        @content;
    }
}
// .z-button.is-xxx
@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}
// &--primary => .z-button--primary
@mixin m($modifier) {
    @at-root {
        #{&+$modifier-separator+$modifier} {
            @content;
        }
    }
}
// @at-root 不参与嵌套，直接跳出嵌套
// .parent{
//     color:red;
//     @at-root .child {
//         width:200px;
//         height:50px;
//     }
// }
// 编译后
// .parent {
// color: red;
// }
// .child {
// width: 200px;
// height: 50px; 
// }

// &__header  => .z-button__header
@mixin e($element) {
    @at-root {
        #{&+$element-separator+$element} {
            @content;
        }
    }
}

@mixin  button-type($color,$bg-color,$border-color) {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;
}